* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 1.6rem;
  background: #fffaf5;
}
:root {
  --primary-color: #ff5b2e;
}
/* common */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  --height: 50px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 117px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 99px;
  border: 1px solid rgba(0, 9, 88, 0.7);
  cursor: pointer;
  user-select: none;
}
.btn-primary {
  color: #fff !important;
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn:hover {
  opacity: 0.9;
}
.section-heading {
  font-family: Sora;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19; /* 119.231% */
}
.section-desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
}
/* header__inner */
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fffaf5;
}
.header__inner {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  width: 491px;
}
.navbar__link {
  padding: 8px 18px;
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  white-space: nowrap;
}
.navbar__link:hover {
  color: #000958;
  text-shadow: 1px 0 0 #000958;
}
.header-action__link,
.header-action__btn {
  color: #000958;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  /* line-height: 50px;  */
}
.navbar__item:nth-child(1) .navbar__link {
  color: #000958;
  font-weight: 600;
}
.header-action__link {
  margin-right: 10px;
}
/* hero */
.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}
.hero {
  margin-top: 100px;
}
.hero__media {
  display: flex;
  position: relative;
}
.hero__img-wrap {
  width: 388px;
  height: 488px;
  position: relative;
  border-radius: 16px;
  background: #fe997b;
  border: 3px solid #fff;
  justify-content: center;
  align-items: end;
  display: flex;
}
.hero__img {
  max-width: 100%;
  max-height: 100%;

  object-fit: cover;
}
.hero__decor-02 {
  position: absolute;
  top: 16px;
  left: 377px;
  z-index: -1;
}
.hero__decor-01 {
  position: absolute;
  top: 247px;
  right: 215px;
  z-index: -1;
}
.hero__img-wrap-small {
  background: #faa7ad;
  width: 186px;
  height: 244px;
  flex-shrink: 0;
  margin-top: 302px;
  margin-left: -23px;
}
.hero__img-list {
  position: absolute;
  padding: 18px 14px;
  width: 250px;
  height: 156px;
  margin-left: 129px;
  margin-top: 426px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero__img-list-item {
  display: flex;
}
.hero__img-list-01 {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fec23f;
}
.hero__item-01 {
  width: 118px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
  margin-top: 7px;
}
.hero__item-02 {
  width: 39px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
  margin-top: 6px;
}
.img-list-01-info {
  margin-left: 10px;
}
.hero__img-separate {
  width: 222px;
  height: 2px;
  background: #f2f2f2;
  margin: 20px 0;
}
.hero__img-list-01-1 {
  background: #c6e2fa;
}
.hero__content {
  width: 45%;
  margin-left: 30px;
  flex-shrink: 0;
}
.hero__heading {
  color: #000958;
  font-family: Sora;
  font-size: 6.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.15; /* 115.152% */
}
.hero__des {
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  margin-top: 24px;
}
.hero__row {
  margin-top: 38px;
}
.hero__row .btn {
  margin-right: 24px;
  min-width: 190px;
  --height: 60px;
  font-size: 1.6rem;
  font-weight: 600;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fffaf5;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
  color: #fd5056;
}
.hero__cta-link {
  color: #000958;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration-line: underline;
}
/* about */
.about {
  margin-top: 138px;
}
.about__inner {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  gap: 108px 0;
  align-items: center;
}
.about__label {
  color: #5e6085;
  font-family: Sora;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.about__heading {
  color: #000958;
  margin-top: 15px;
}
.about__desc {
  color: #656689;
  margin-top: 24px;
  width: 431px;
}
.about__check-list {
  margin-top: 54px;
  display: grid;
  grid-template: auto auto/1fr 1fr;
  gap: 36px;
}
.about__check-item {
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  position: relative;
}
.about__check-item::before {
  content: "";
  margin-right: 10px;
  width: 24px;
  height: 24px;
  display: inline-block;
  background: #ff5d31;
  border-radius: 4px;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about__check-item::after {
  content: url(../img/check-icon.svg);
  position: absolute;
  top: 3px;
  left: 5px;
}
.about__row {
  position: relative;
  padding: 52px 0 10px;
  display: inline-flex;
  justify-content: space-between;
  gap: 56px;
}
.about__row::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.07;
  border-radius: 1px;
  background: rgb(255, 91, 46);
}
.about__item {
  display: flex;
  align-items: center;
}
.about__item-img {
  width: 20px;
  margin-right: 10px;
}
.about__heading-01 {
  color: #000958;
}
.about__desc-info {
  width: 391px;
  color: #656689;
  line-height: 1.71;
  margin-top: 36px;
}
.about__view-more {
  display: inline-block;
  color: #ff5d31;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  border-bottom: 1px solid #ff5d31;
  margin-top: 32px;
}
.about__item-desc {
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: rgba(72, 73, 106, 1);
}
/* about card  */
.about__card {
  width: 136px;
  border-radius: 10px;
  background: #5bd6e2;
  position: absolute;
  top: 165px;
  left: 0;
  text-align: center;
  padding: 30px 26px;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}
.about__media {
  position: relative;
}
.about__title {
  font-family: Sora, sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.about__card-desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 14px;
  color: rgba(198, 244, 249, 1);
}
.about__card-decor {
  position: absolute;
  top: -40px;
  left: 93px;
}
.about__figure {
  position: relative;
  width: 494px;
  border-radius: 16px;
  margin-left: auto;
}
.about__figure::after {
  height: 336px;
  z-index: -1;
  inset: auto 0 0 0;
  position: absolute;
  content: "";
  display: inline-block;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}
.about__figure-img {
  width: 450px;
  display: block;
  margin: 0 auto;
}
.about__media-decor {
  position: absolute;
  top: 157px;
  right: -71px;
  z-index: -1;
}
.about__figure-img-02 {
  width: 458px;
  display: block;
  margin: 0 auto;
}
.about__figure-02 {
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  border-radius: 18px;
  border: 2px solid rgba(255, 255, 255, 1);
  width: 458px;
  position: relative;
}
.about__img-02-decor {
  position: absolute;
}
.about__02-decor-1 {
  top: 12px;
  left: 388px;
}
.about__02-decor-2 {
  top: -16px;
  left: 426px;
}
.about__02-decor-3 {
  top: 33px;
  left: 425px;
}
.about__02-decor-4 {
  top: 268px;
  right: -33px;
}
.about__02-decor-5 {
  top: 336px;
  right: 19px;
}
.about__02-decor-6 {
  top: 435px;
  left: 377px;
}
.about__item:nth-child(1):after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 95px;
  height: 2px;
  background: rgba(255, 91, 46, 1);
}
.services {
  margin-top: 190px;
  background: rgba(255, 246, 237, 1);
}
.services__top {
  padding-top: 68px;
  text-align: center;
}
.services__top-desc,
.staff__top-desc,
.pricing__top-desc {
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(94, 96, 133, 1);
}
.services__top-title,
.staff__top-title,
.pricing__top-title {
  font-size: 5.2rem;
  font-weight: 700;
  margin-top: 15px;
  color: rgba(0, 9, 88, 1);
}
.services__body {
  margin-top: 71px;
  display: grid;
  grid-template-columns: 294px 1fr 294px;
}
.services__item {
  padding: 30px 22px;
  text-align: left;
  width: 294px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: rgba(255, 255, 255, 1);
}
.services__item + .services__item {
  margin-top: 24px;
}
.services__column-title {
  position: relative;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  color: rgba(0, 9, 88, 1);
  padding-left: 10px;
}
.services__column-title::before {
  position: absolute;
  content: "";
  border-radius: 1px;
  inset: 0 auto 0 0;
  width: 2px;
  background: linear-gradient(#ff5b2e, #ffa187);
}
.services__column-desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
  color: rgba(101, 102, 137, 1);
  margin-top: 18px;
}
.services__column-link {
  font-family: Sora;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(52, 57, 106, 1);
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.services__img-link {
  margin-left: 6px;
}
.services__column-media {
  position: relative;
  width: 447px;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 621px;
  margin: 0 auto;
}
.services__column2-bg {
  position: absolute;
  height: 350px;
  width: 410px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}
.services__column2-img {
  width: 447px;
  position: absolute;
}
.services__cta {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 100px;
}
.services__column2-btn,
.staff__btn {
  min-width: 214px;
  border: 1px solid rgba(255, 91, 46, 1);
  --height: 56px;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(255, 91, 46, 1);
}
/* staff */
.staff {
  margin-top: 130px;
}
.staff__top {
  text-align: center;
}
.staff__item-list {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  margin-top: 59px;
}
.staff__item-row::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 94%;
  left: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__item:nth-child(2) .staff__item-row::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff__item:nth-child(3) .staff__item-row::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff__item:nth-child(4) .staff__item-row::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff__item-row::after {
  position: absolute;
  background-image: url(../img/staff-decor-1.svg);
  content: "";
  bottom: 0;
  width: calc(100% + 36px);
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.staff__item:nth-child(2) .staff__item-row::after {
  background-image: url(../img/staff-decor-2.svg);
  background-position: 0px 19px;
}
.staff__item:nth-child(3) .staff__item-row::after {
  background-image: url(../img/staff-decor-3.svg);
}
.staff__item:nth-child(4) .staff__item-row::after {
  background-image: url(../img/staff-decor-4.svg);
  background-position: 0px 19px;
}

.staff__item-img {
  width: 100%;
  border-radius: inherit;
  position: relative;
  z-index: 1;
  display: block;
}
.staff__item {
  text-align: center;
}
.staff__item-desc {
  margin-top: 34px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}
.staff__item-name {
  margin-top: 14px;
  color: #000958;
  font-family: Sora;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.staff__item-row {
  margin: 0 16px;
  border-radius: 130px;
  position: relative;
}
.staff__atc {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
/* pricing */
.pricing {
  margin-top: 130px;
  padding: 86px 0;
  background: #fff6ed;
}
.pricing__top {
  text-align: center;
}
.pricing__top-title01 {
  margin-top: 0;
}
.pricing__top-desc {
  margin-top: 24px;
  width: 709px;
  margin-left: auto;
  margin-right: auto;
}
.pricing__top-row {
  margin-top: 38px;
  display: inline-block;
  position: relative;
}
.pricing__checkbox-label {
  position: relative;
  width: 276px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid rgb(255 91 46 / 60%);
  line-height: 56px;
  display: flex;
  justify-content: space-between;

  color: #ff5b2e;
  user-select: none;
}
.pricing__checkbox-label::before {
  position: absolute;
  content: "";
  width: 131px;
  height: 100%;
  background: #ff5b2e;
  border-radius: inherit;
  top: 0px;
  right: 0;
  transition: 0.5s;
}
.pricing__label-01 {
  z-index: 1;
  padding: 0 40px;
  cursor: pointer;
}
.pricing__input-checkbox {
  display: none;
}
.pricing__input-checkbox:checked + .pricing__checkbox-label::before {
  left: 0;
  width: 145px;
}
.pricing__input-checkbox:not(:checked)
  + .pricing__checkbox-label
  .pricing__label-01:nth-child(2),
.pricing__input-checkbox:checked
  + .pricing__checkbox-label
  .pricing__label-01:nth-child(1) {
  color: #ffffff;
}
.pricing__sale-img {
  position: absolute;
  bottom: 30px;
  right: -104px;
}
/* pricing__inner */
.pricing__inner {
  margin: 56px 88px;
}
.pricing__item-list {
  display: flex;
  gap: 44px;
  justify-content: space-between;
}
.pricing__item {
  width: 302px;
  padding: 30px 28px;
}
.pricing__item-title-desc {
  color: #ff5b2e;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}
.pricing__item-title {
  color: #3f4065;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  margin-top: 8px;
}
.pricing__item-price {
  color: #000958;
  font-family: Sora, sans-serif;
  font-size: 3.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1; /* 103.03% */
  margin-top: 24px;
}
.pricing__item-btn {
  margin-top: 22px;
  width: 246px;

  color: #ff5b2e;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  --height: 44px;
  border: 1px solid rgba(255, 91, 46, 0.6);
}
.pricing__item-info-list {
  margin-top: 24px;
}
.pricing__item-info {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1; /* 100% */
  margin-top: 18px;
}
.pricing__item-info::before {
  content: url(../img/pricing-price-check.svg);
  margin-right: 12px;
}
/*  reviews*/
.reviews__inner {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}
.reviews__btn {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1.5px solid #ffd1c4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5b2e;
}
.reviews__btn:hover {
  color: #ffffff;
  background: #ff5b2e;
  border-color: #ff5b2e;
  cursor: pointer;
}
.reviews__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 115px;
}
.reviews__media {
  position: relative;
  width: 274px;
  height: 427px;
  border-radius: 137px;
  overflow: hidden;
  display: flex;
  align-items: end;
  flex-shrink: 0;
}
.reviews__media::before {
  position: absolute;
  content: "";
  width: 274px;
  height: 350px;
  background: #ffda54;
  border-radius: inherit;
}
.reviews__img {
  width: 100%;
  z-index: 1;
}
.reviews__info-title {
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19; /* 119.231% */
}
.reviews__info-quote {
  color: #000;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.55; /* 155.556% */
  width: 553px;
  margin-top: 24px;
}
.reviews__info-author {
  color: #282828;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  margin-top: 34px;
  display: flex;
  align-items: center;
}
.reviews__info-author::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background: #000;
  margin-right: 8px;
}
.reviews__dot {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #ff5b2e;
  cursor: pointer;
}
.reviews__dot:hover {
  background: #ff5b2e;
}
.reviews__dot-list {
  display: flex;
  width: 64px;
  justify-content: space-between;
  margin: 56px auto 0;
}
.reviews__dot-01 {
  width: 24px;
  background: #ff5b2e;
}
/* blog */
.blog {
  margin-top: 130px;
}
.blog__top {
  display: flex;
  justify-content: space-between;
}
.blog__top-right {
  padding-right: 73px;
}
.blog__top-title {
  color: #000958;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19; /* 119.231% */
}
.blog__right-desc {
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.85; /* 187.5% */
  width: 350px;
}
.blog-right-btn {
  width: 182px;
  --height: 56px;
  margin-top: 24px;
  border: 1px solid #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  color: #ff5b2e;
  background: transparent;
}
.blog__info {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
.blog__item-img {
  margin-top: 25px;
  width: 100%;
}
.blog__item-media {
  width: 358px;
  height: 362px;
  /* flex-shrink: 0; */
  border-radius: 24px;
  background: #90ccff;
  padding: 24px 0 0 36px;
}
.blog__item:nth-child(2) .blog__item-media {
  background: #ff997e;
}
.bog__item-title {
  display: inline-block;
  margin-top: 28px;
  color: #000958;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.54; /* 154.545% */
}
.blog__item-desc {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  margin-top: 16px;
}
/* footer */
.footer {
  margin-top: 131px;
  background: #fff6ed;
}
.footer__inner {
  display: flex;
}
.footer__left {
  width: 40%;
  padding: 114px 212px 148px 135px;
}
.subscribe-form {
  position: relative;
  display: flex;
  width: 268px;
  margin-top: 35px;
}
.subscribe__input {
  width: 268px;
  height: 46px;
  border-radius: 23px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  background: #fff;
  outline: none;
  padding: 0 77px 0 22px;
}
.submit__btn {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background: #ff5b2e;
  box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
  top: 0;
  right: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.submit__btn:hover {
  opacity: 0.8;
}
.social__title {
  margin-top: 68px;
  color: #000958;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.11; /* 111.111% */
}
.social__list {
  margin-top: 16px;
  display: flex;
  width: 176px;
  justify-content: space-between;
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 0px 16px 28px -10px rgba(211, 132, 53, 0.33);
}
/* footer__right */
.footer__right {
  position: relative;
  background: #ffffff;
  width: 60%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 52px 0px 114px 129px;
  gap: 58px 137px;
}
.footer__column-title {
  color: #000958;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.11; /* 111.111% */
}
.footer__column-link {
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2; /* 200% */
}
.footer__column ul li:nth-child(1) {
  margin-top: 14px;
}
.copy__right {
  position: absolute;
  left: 22px;
  bottom: 48px;
  color: #656689;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.16; /* 116.667% */
}
